src/main/resources/xsd/students.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://schoolappsoap.com/webservice/students"
           targetNamespace="http://schoolappsoap.com/webservice/students"
           elementFormDefault="qualified">

    <xs:complexType name="Student">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="AddStudentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nom" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AddStudentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" type="tns:Student"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetStudentByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetStudentByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" type="tns:Student"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAllStudentsRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAllStudentsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" type="tns:Student" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>